* {
    border: solid;
    border-radius: 2;
    font-family: FontAwesome;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;    
}

tooltip {
	background: #0f0f0f;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #04ff00;
	}


#custom-date, #clock, #pulseaudio, #memory, #cpu, #disk, #temperature, #tray{
	padding: 5px 10px;
	margin: 10px 0px;
}


#custom-date {
	color: #9ec3c4;
}

#tray {
	opacity: 1;
    border-radius: 15px 15px 15px 15px;
    border-color: #04ff00;
    border-width: 0.5px;
	border-style: solid;
	margin-right: 7px;
}

#disk, #cpu, #memory {
	margin-left: 7px;
	border-radius: 15px 15px 15px 15px;
    color: #da61d7;

}

#pulseaudio, #temperature, #clock {
	margin-left: 5px;
	color: #04ff00;
	border-radius: 15px 15px 15px 15px;
}

#pulseaudio {
	margin-left: 5px
}
